body {
    font-family: Arial;
    margin: 0;
    background: #f2f2f2;
}

.navbar {
    background: black;
    padding: 15px;
    position: sticky;
    top: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.logo {
    color: white;
    display: inline;
    margin-right: 20px;
}

.section {
    background: white;
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
}

.orange {
    color: orange;
}

.skill {
    background: orange;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px;
    border-radius: 5px;
}

.footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

.fade {
    opacity: 0;
    transition: 1s;
}
.fade.show {
    opacity: 1;
}
